<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Meanbee_S3QSA>
            <version>1.2.1</version>
        </Meanbee_S3QSA>
    </modules>
    <global>
        <models>
            <S3QSA>
                <class>Meanbee_S3QSA_Model</class>
            </S3QSA>
        </models>
        <blocks>
            <S3QSA>
                <class>Meanbee_S3QSA_Block</class>
            </S3QSA>
        </blocks>
        <helpers>
            <S3QSA>
                <class>Meanbee_S3QSA_Helper</class>
            </S3QSA>
        </helpers>
        <events>
            <admin_system_config_changed_section_s3qsa>
                <observers>
                    <s3qsa_config_change>
                        <type>singleton</type>
                        <class>S3QSA/observer</class>
                        <method>observeConfigChange</method>
                    </s3qsa_config_change>
                </observers>
            </admin_system_config_changed_section_s3qsa>
        </events>
        <rewrite>
            <mbdd_download>
                <from><![CDATA[#^/downloadable/download/#]]></from>
                <to>/s3qsa/download/</to>
            </mbdd_download>
        </rewrite>
    </global>
    <frontend>
        <routers>
            <s3qsa_download>
                <use>standard</use>
                <args>
                    <module>Meanbee_S3QSA</module>
                    <frontName>s3qsa</frontName>
                </args>
            </s3qsa_download>
        </routers>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <s3qsa>
                                            <title>Meanbee S3 Downloads Settings</title>
                                        </s3qsa>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <s3qsa>
                    <file>meanbee/s3qsa.xml</file>
                </s3qsa>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <s3qsa>
            <general>
                <enabled>0</enabled>
            </general>
            <aws>
                <request_timeout>300</request_timeout>
            </aws>
            <developer>
                <log_enabled>0</log_enabled>
            </developer>
        </s3qsa>
    </default>
</config>
