<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Meanbee_S3QSA>
            <version>1.0.0</version>
        </Meanbee_S3QSA>
    </modules>
    <global>
        <models>
            <S3QSA>
                <class>Meanbee_S3QSA_Model</class>
            </S3QSA>
            <downloadable>
                <rewrite>
                    <link_purchased_item>Meanbee_S3QSA_Model_Link_Purchased_Item</link_purchased_item>
                </rewrite>
            </downloadable>
        </models>
        <blocks>
            <S3QSA>
                <class>Meanbee_S3QSA_Block</class>
            </S3QSA>
        </blocks>
        <helpers>
            <S3QSA>
                <class>Meanbee_S3QSA_Helper</class>
            </S3QSA>
        </helpers>
        <events>
            <downloadable_link_purchased_item_load_after>
                <observers>
                    <meanbee_digitaldelivery_modify_url>
                        <type>singleton</type>
                        <class>s3qsa/observer</class>
                        <method>observeLoad</method>
                    </meanbee_digitaldelivery_modify_url>
                </observers>
            </downloadable_link_purchased_item_load_after>
        </events>
        <rewrite>
            <mbdd_download>
                <from><![CDATA[#^/downloadable/download/link/#]]></from>
                <to>/s3qsa/download/link/</to>
            </mbdd_download>
        </rewrite>
    </global>
    <frontend>
        <routers>
            <s3qsa_download>
                <use>standard</use>
                <args>
                    <module>Meanbee_S3QSA</module>
                    <frontName>s3qsa</frontName>
                </args>
            </s3qsa_download>
        </routers>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <s3qsa>
                                            <title>Meanbee Digital Delivery Settings</title>
                                        </s3qsa>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <s3qsa>
                    <file>meanbee/s3qsa.xml</file>
                </s3qsa>
            </updates>
        </layout>
    </adminhtml>
</config>
