<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Meanbee_DigitalDelivery>
            <version>1.0.0</version>
        </Meanbee_DigitalDelivery>
    </modules>
    <global>
        <models>
            <mbdd>
                <class>Meanbee_DigitalDelivery_Model</class>
            </mbdd>
        </models>
        <blocks>
            <mbdd>
                <class>Meanbee_DigitalDelivery_Block</class>
            </mbdd>
        </blocks>
        <helpers>
            <mbdd>
                <class>Meanbee_DigitalDelivery_Helper</class>
            </mbdd>
        </helpers>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mbdd>
                                            <title>Meanbee Digital Delivery Settings</title>
                                        </mbdd>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <mbdd>
                    <file>meanbee/digitaldelivery.xml</file>
                </mbdd>
            </updates>
        </layout>
    </adminhtml>
</config>
